<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- this node and usb_can node must run together -->
    <node pkg="stepper_motor_57" type="stepper_motor_57_node" name="motor_57" output="screen" clear_params="true">
        <rosparam command="load" file="$(find stepper_motor_57)/config/57_config.yaml"/>
    </node>
</launch>