<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- 正转滑台靠近电机，反转滑台远离电机 -->
    <arg name="57_cmd_type"  default="position"   doc="type [position,vel_forward,vel_backward]"/>
         
    <node pkg="stepper_motor_57" type="stepper_motor_57_node" name="motor_57" output="screen">
        <param name="motor_cmd_type" type="string" value="$(arg 57_cmd_type)"/>
        <rosparam command="load" file="$(find stepper_motor_57)/config/motor_config/57_config.yaml"/>
    </node>
</launch>