<?xml version="1.0" encoding="utf-8"?>
<robot>
  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="link_steer_lf">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2> 
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="link_steer_rf">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="link_steer_lb">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="link_steer_rb">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="link_roll_lf">
    <mu1>5</mu1>
    <mu2>5</mu2>
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link_roll_rf">
    <mu1>5</mu1>
    <mu2>5</mu2>
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link_roll_lb">
    <mu1>5</mu1>
    <mu2>5</mu2>
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="link_roll_rb">
    <mu1>5</mu1>
    <mu2>5</mu2>
    <material>Gazebo/Orange</material>
  </gazebo>

<!-- 在gazebo中使用ros_control控制机器人，需添加以下内容 -->

<!-- Add transmission elements to a URDF -->
<transmission name="steer_lf_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_steer_lf">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="steer_lf_motor">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </actuator>
</transmission>

<transmission name="steer_rf_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_steer_rf">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="steer_rf_motor">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </actuator>
</transmission>

<transmission name="steer_lb_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_steer_lb">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="steer_lb_motor">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </actuator>
</transmission>

<transmission name="steer_rb_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_steer_rb">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="steer_rb_motor">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </actuator>
</transmission>

<transmission name="roll_lf_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_roll_lf">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="roll_lf_motor">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </actuator>
</transmission>

<transmission name="roll_rf_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_roll_rf">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="roll_rf_motor">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </actuator>
</transmission>

<transmission name="roll_lb_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_roll_lb">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="roll_lb_motor">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </actuator>
</transmission>

<transmission name="roll_rb_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="joint_roll_rb">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="roll_rb_motor">
    <mechanicalReduction>1</mechanicalReduction>
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </actuator>
</transmission>

<!-- ros_control plugin -->
<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/cdpr</robotNamespace>
    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
  </plugin>
</gazebo>

</robot>