<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="cdpr" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 导入机器人urdf文件，SW插件生成可能会有错，需先修改好 -->
  <xacro:include filename="$(find cdpr_urdf)/urdf/cdpr_urdf.urdf"/>
  
  <!-- 添加world连杆和fixed关节 -->
  <link name="dummy"/>
  <joint name="dummy_joint" type="fixed">
    <parent link="dummy" />
    <child link="base_link" />
  </joint>

  <xacro:include filename="$(find cdpr_description)/xacro/cdpr_gazebo.xacro"/>
</robot>