<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find cdpr_control)/launch/cdpr_control.launch"/>
       
    <!-- run usb_can node when need to use USB_CAN -->
    <!-- <node pkg="usb_can" type="usb_can_node" name="usbcan" output="screen"/> -->
    <!-- <include file="$(find stepper_motor_57)/launch/57_launch.launch"/> -->
    <!-- <include file="$(find motor_re35)/launch/re35_launch.launch"/> -->

    <include file="$(find unitree_motor_a1)/launch/a1_launch.launch"/>
    <include file="$(find unitree_motor_go)/launch/go_launch.launch"/>

    <!-- imu control node -->
    <!-- <include file="$(find wit_ros_imu)/launch/wit_imu_launch/display_and_imu.launch"/> -->
    <!-- <include file="$(find wit_ros_imu)/launch/wit_imu_launch/rviz_and_imu.launch"/> -->
    <!-- <include file="$(find wit_ros_imu)/launch/wit_imu_launch/wit_imu.launch"/> -->

    
</launch>